html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #1b1b1b;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  h1{
    text-align: center;
  }
  
  .project-github{
    display: grid;
    place-items: center;
  }
  
  .project-github p{
    font-weight: bold;
  }