.card {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 335px;
  }
  
  .card label {
    display: block;
    font-weight: bold;
    color: #fff;
  }
  
  .card input {
    width: 91%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 20px;
    text-align: center;
    outline: none; /* Eliminar el borde al enfocar */
    -webkit-appearance: none; /* Ocultar botones de subir y bajar */
  }
  
  .card input::-webkit-outer-spin-button,
  .card input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .card button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .card button:hover {
    background-color: #005f73;
  }
  
  .card h2 {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }

 /* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .card {
    padding: 15px;
    max-width: 100%;
    margin: 10px;
  }

  .card input {
    font-size: 18px;
    padding: 8px;
  }

  .card button {
    padding: 8px;
    font-size: 14px;
  }
}
.clusterImage {
  width: 100%;
  height: auto;
  max-width: 848px;
}

/* Estilos específicos para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .card {
    padding: 15px;
    max-width: 100%;
    margin: 10px;
  }

  .card input {
    font-size: 18px;
    padding: 8px;
  }

  .card button {
    padding: 8px;
    font-size: 14px;
  }

  .clusterImage {
    max-width: 100%;
  }
}

/* Estilos específicos para pantallas medianas (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
  .card {
    padding: 18px;
    max-width: 90%;
  }

  .card input {
    font-size: 19px;
    padding: 9px;
  }

  .card button {
    padding: 9px;
    font-size: 15px;
  }

  .clusterImage {
    max-width: 100%;
  }
}